<!DOCTYPE html>
<html lang="en">
<head>
    <title>TODO</title>
    {{/* <link rel="stylesheet" href="/static/css/style.css"> */}}
</head>
<body>
    <h1>Time: {{.LocalObservationDateTime}}</h1>
    <ul>
        <li>
            <h2>Weather: {{.WeatherText}}</h2>
        </li>
        <li>Temp: {{.Temperature.Imperial.Value}} {{.Temperature.Imperial.Unit}}</li>
        <li><a href="{{.Link}}">Link</a></li>
        {{if .HasPrecipitation}}
        <li>{{ .PrecipitationType}}</li>
        {{end}}
    </ul>
    {{/* <script src="/static/js/script.js" type="text/javascript"></script> */}}
</body>
</html>